body{
  margin-top: 10px;
}
h1{
    font-family: 'montserrat' sans-serif;
    font-size: 35px;
    font-weight: bolder;
    text-transform: uppercase;
}
pre{
    font-family: 'Heebo';
    font-size: 20px;
}
h2{
    font-family: "montserrat" sans-serif;
    font-size: 25px;
    font-weight: bolder;
    text-transform: uppercase;
}
h4{
    font-family: "montserrat" sans-serif;
    font-size: 15px;
    font-weight: bolder;
    text-transform: capitalize;
}
