#start {
    margin: 0;
    padding: 0;
    text-align: center;
}
#intro {
    margin: 2%;
    padding: 0;
    font-family: arial;
    color: green;
    font-size: 5em;
    text-shadow: 0 2px 0 rgba(0,0,0,.5);
}
#intro span:before {
    content: 'LIVE HEALTHY';
    animation: animate infinite 15s;
}
@keyframes animate{
   0%{
       content: 'LIVE HEALTHY';
   } 
   25%{
      content: 'LIVE WEALTHY'; 
} 
50%{
    content: 'LIVE STRONGER';   
} 
75%{
     content: 'LIVE LONGER';  
}
100%{
    content: 'LIVE HAPPILY';  
}  
}