.jumbotron{
    background-image: url(../images/fruit_background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.buttons{
    text-align: center;
}
.disease_cards{
    justify-content: center;
}
.card{
    align-items: center;
    margin: 20px;
}