.home_background{
    background-image: url(../images/fruit_background.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    text-shadow: 5px 5px black;
}
.disease_cards{
    justify-content: center;
}
.card{
    align-items: center;
    margin: 20px;
}
.contact_us{
    background-color: gray  ;
    text-align: center;
    padding: 20px;
}
.contanct_name{
    margin: 10px;
    border: 2px solid ;
    padding: 5px;
    border-radius: 10px;
}

/* pregnancy landing page */
.preg1{
    background-image: url(../images/pregnancy/background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    padding-bottom: 4rem;
}
.intro{
    padding-top: 2rem;
    padding-right: 3rem;
}